/* font-family: 'Montserrat', sans-serif; */
/* imported text */
@font-face {
    font-family: mont-bold;
    src: url(fonts/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: mont-medium;
    src: url(fonts/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

/* Root Element */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #ff0000;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}


/* global Css */
*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}   

body{
    font-family: roboto-regular;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

/* button Hover */
.btn-light-banner{
    border: 1px solid #fff;
    color: var(--light);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: 20px 40px;
    background-color: transparent;
    text-transform: capitalize;
    position: relative;
    margin-top: 30px;
    transition: all 600ms ease;
}


button.btn-light::before{
    border-left: 2px solid var(--red);
    border-bottom: 2px solid var(--red);
    position: absolute;
    content: '';
    width: 44px;
    height: 87%;
    left: -10px;
    transition: all 600ms ease;
    top: 19px;
}

button.btn-light::after{
    border-top: 2px solid var(--red);
    border-right: 2px solid var(--red);
    position: absolute;
    content: '';
    width: 44px;
    height: 87%;
    left: 82%;
    top: -9px;
    transition: all 600ms ease;
}

.btn-light-banner:hover{
    background-color: #fff;
    color: var(--dark);
}


/* Other CSS */
.box-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.container{
    display: flex;
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.col-12{
    width: 100%;
}

.col-4{
    width: 33.33%;
}
/* Header Section */
#header{
    position: absolute;
    width: 100%;
    z-index: 5;
}

.header-top{
    padding: 18px 38px;
}

.top-left .text{
    color: var(--white);
}

.top-right .info-list li{
    display: inline-block;
    padding-left: 30px;
    padding-right: 22px;
    color: var(--white);
}

.top-right .info-list li a{
    color: var(--white);
}

.top-right .info-list li a:hover{
    color: var(--red);
}

.lang-btn a{
    color: var(--white);
}

.top-right .info-list li:nth-child(2){
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
}

.nav-bar{
    background-color: rgba(0,0,0,0.50);
    padding: 0 45px;
}

.nav-bar a{
    color: var(--white);
    font-family: mont-medium;
    margin-right: 30px;
    text-transform: uppercase;
    position: relative;
}

.nav-bar a::before{
    position: absolute;
    content: "";
    width: 6px;
    height: 16px;
    background-image: url(".//images/menu-icon.png");
    left: -14px;
    top: 1px;
    opacity: 0;
}

.nav-bar a:hover::before{
    opacity: 1;
}

.nav-bar a:hover{
    color: var(--red);
}

.nav-bar a:focus::before{
    opacity: 1;
}

.nav-bar a:focus{
    color: var(--red);
}

.logo{
    background-color: rgba(0, 0, 0, .5);
    padding: 0 25px;
    border-right: 3px solid red;
}


/* Banner Section */
.slide-img{
    padding: 300px 0 200px 0;
}

.slide-img h3{
    color: var(--light);
    font-size: 5.25rem;
}

.img-1{
    background-image: url(".//images/banner.jpg");
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    z-index: 0;
    text-align: center;
}

.img-2{
    background-image: url(".//images/banner-1.jpg");
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    z-index: 0;
    text-align: center;
}

.slick-prev{
    position: absolute;
    top: 50%;
    z-index: 2;
    right: 5%;
}

.slick-next{
    position: absolute;
    top: 50%;
    left: 5%;
}

.slide-img .text{
    color: var(--white);
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.87rem;
    font-weight: 400;
    margin: 20px 0;
}

.fluid-container .col-4{
    padding: 80px 0;
}

.pod-col-1{
    background-color: #222;
    color: var(--white);
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-bottom: 150px;
}

.pod-col-1 .gym-text{
    position: absolute;
    left: -23%;
    bottom: 0;
    opacity: 0.20;
    font-size: 170px;
    color: transparent;
    transform: rotate(-90deg);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    text-transform: uppercase;
}

.pod-col-1 .content-wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.pod-col-1::before{
    background-color: #222;
    position: absolute;
    content: '';
}

.pod-col-1 .content-wrapper img{
    color: var(--white);
    max-width: 50px;
    width: 100%;
}

.pod-col-1 .content-wrapper h4{
    color: var(--white);
    width: 100%;
}