<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <script src="https://kit.fontawesome.com/a32f35b0a2.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3a6ec3b501.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <!-- Header Section -->
    <header id="header">
        <div class="header row">
            <div class="container">
                <div class="logo-img">
                    <a href="https://www.behance.net/gallery/124227743/NetworkON-Header-Banner-Designs" target="_blank">
                        <img src="logo.jpg" alt="" >
                    </a>
                </div>

                <input type="checkbox" name="nav-bar" id="nav-bar">
                <label for="nav-bar">
                    <i class="fa-solid fa-bars"></i>
                    <i class="fa-solid fa-xmark"></i>
                </label>

                <div class="nav">
                    <nav>
                        <a href="">Home</a>
                        <a href="">About</a>
                        <a href="">Services</a>
                        <a href="">Gallery</a>
                        <a href="">Contact Us</a>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- main section -->
    <main id="main">
        <section id="powered">
            <div class="row powered">
                <div class="container">
                    <div class="powered-txt">
                        <h1>al-powered solution for services and delivery management</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum recusandae vero temporibus sunt illum unde.</p>
                        
                        <div class="btn-icon container">
                            <a href="#" class="btn">get free demo</a>
                            <img src="play-button.png" alt="">
                        </div>
                    </div>

                    <div class="side-img">
                        <img src="phone-round.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>